*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: 0;
  border: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 24px;
  color: #fff;
  background: #0e0e0e;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-size: 12rem;
  line-height: 120px;
}

.container {
  width: 100%;
  max-width: 141rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}
